doctype html
html()
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title MusicHub

		//link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")

	body
		.navbar.bg-dark.d-flex.justify-content-center
			div
				a(href="/")
					h1.text-white MusicHub

		block content
