extends layout

block content

	.d-flex.flex-column.align-items-center
		.col-md-4
			.nav.d-flex.justify-content-center
				.nav-item
					a.nav-link.text-secondary(href="/reg") Sign Up
				.nav-item
					a.nav-link.text-secondary(href="/login") Login

		.col-md-4
			h1 Sign up
			hr
			form(method="POST" action="/reg")
				.form-group
					input.form-control(type="text" name="username")
				.form-group
					input.form-control(type="password" name="password")
				.form-group
					button.btn.btn-dark(type="submit") Create

			if error
				pre= error

