extends layout

block content

	.content
		.col-md-4.col-md-offset-4
			h1 Sign up
			hr
			form(method="POST" action="/reg")
				.form-group
					input.form-control(type="text" name="username")
				.form-group
					input.form-control(type="password" name="password")
				.form-group
					button.btn-black(type="submit") Create
					
			if error
				pre= error

