.album-screen {

}

.album-screen-data {
  .album-cover {
    overflow: hidden;
    background-color: #dedede;
    width: 300px;
    height: 300px;

    img {
      width: 100%;
    }
  }

  .album-info {
    margin: 20px 0;
  }
}

.album-screen-music-list {
  padding: 0 50px;

  .album-music-item {
    width: 400px;
    padding: 10px;

    .equalizer-icon {
      width: 30px;
      margin: 0 10px;
    }
  }
}
