@import "~styleAlias/mixins.scss";

a:not([href]) {
  &:hover {
    cursor: pointer;
  }
}

.main-header {
  width: 100%;
  z-index: 100;
  height: 90px;
}

.main-nav-bar {
  width: 100%;
  background-color: #333;
  color: #fff;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.sub-nav {
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #ccc;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0 40px;
    height: 100%;

    li {
      padding: 0 10px;
      list-style-type: none;
      color: #777;
      font-size: 14px;

      a {
        color: #333;
        text-decoration: none;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

.logo {
  color: #fff;
  margin-left: 50px;

  h1 {
    margin: 0;
  }


  a {
    color: #fff;

    &:hover {
      color: #ddd;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }
}

.auth-block {
  display: flex;
  width: 200px;
  justify-content: flex-end;
  align-items: center;

  a {
    margin: 0 5px;
  }

  a.btn-profile {
    transition: background-color ease .3s;
    color: #fff;
    float: left;
    line-height: 70px;
    font-size: 18pt;
    padding: 0 20px;

    &:hover {
      background-color: #4D4D4D;
      text-decoration: none;
    }

    &:focus {
      text-decoration: none;
    }
  }

  a.btn-main {
    transition: background-color ease .3s;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
    padding: 5px;
    display: inline-block;
    font-size: 12pt;

    &:hover {
      background-color: #333;
      color: #fff;
      border: 1px solid #fff;
      text-decoration: none;
    }
  }
}

.content {
  height: calc(100vh - 160px);
  overflow-y: scroll;
  padding: 30px 50px;

  @media screen and (max-width: 768px) {
    padding: 30px 10px;
  }
}

.cont {
  padding: 20px;
  border: 1px solid #333;
  width: 250px;
  height: 250px;
  margin: 10px;
}
