@import "mixins";

.music-create {
  width: 500px;
  margin-top: 20px;

  .btn-black {
    margin: 5px 0;
    display: inline-block;
  }
}

.form-select {
  select {
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;

    option {
      background-color: #fff;
      color: #333;
      font-size: 14pt;
    }
  }
}

