<div class="container">
	<ul class="nav nav-pills">
		<li role="presentation">
			<a href="#/">Главная</a>
		</li>
		<li role="presentation">
			<a href="#/dashboard/genre">Жанры</a>
		</li> 
		<li role="presentation">
			<a href="#/dashboard/tracks">Треки</a>
		</li>
	</ul>
	<hr>
	<div class="row">
		<h1>Треки</h1>
		<hr>
		<table class="table dashboard-music">
			<thead>
				<tr>
					<th>Исполнитель, название</th>
					<th>Жанр</th>
					<th>Владелец</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="mus in music">
					<td class="music-header"><a href="#/music/{{mus.id}}">{{mus.author.title}} - {{mus.title}}</a></td>
					<td>{{mus.genre.title || 'Без жанра'}}</td>
					<td>{{mus.creator.username}}</td>
					<td><a href="#/music/{{mus.id}}/edit"><div class="btn-black"><i class="glyphicon glyphicon-pencil"></i></div></a>
					<div class="btn-black" ng-click="deleteMusic($index, mus)"><i class="glyphicon glyphicon glyphicon-trash"></i></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>